<span 
    #breadcrumb_traducao
    style='display:none;'
    i18n="breadcrumb|Breadcrumb do CRUDE País@@crude-pais-listagem.breadcrumb">
    Início/País/Listagem
</span>

<h1 class='titulo_tela_listagem'>
    <div
    i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE País@@crude-pais-listagem.titulo.pais">
    PAÍS
    </div>
</h1>

<app-grid-pesquisa
    #gridFiltro
    idGrid="pesquisaPais"
    [apiService]='apiPaisService'
    nomeMetodoOrdenacao='mudarOrdenacao'
    nomeMetodoApi='listar'
    apiFieldKey='IDPais'
    [colunasGrid]='getColunasGridCadastro()'
    pageSize='15'
    [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>