<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do Detalhe do CRUDE de Condição de Pagamento@@crude-cond-pagto-edicao.breadcrumb">
  Início/Condição Pagamento/Edição
</span>

<app-cadastro-barra-acao 
  #cadastroBarraAcao
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <h1>
    <div
      i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Condição de Pagamento@@crude-cond-pagto-detalhe.titulo.cond-pagto">
      CONDIÇÃO DE PAGAMENTO
    </div>
  </h1>

  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>
    
    <div class="form-row">
      <div class="form-group col-4">        
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Código|Identifica o Código da condição de pagamento no CRUDE@@crude-cond-pagto-detalhe.label.codigo">
              Código
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chCodCondPagto']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox  formControlName="chCodCondPagto" required maxlength="20" />
        </label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descrição|Identifica a Descrição da condição de pagamento no CRUDE@@crude-cond-pagto-detalhe.label.descricao">
              Descrição
            </ng-container>                  
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDescricao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDescricao" required maxlength="50" />
        </label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">          
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Condição de Pagamento|Identifica a condição de pagamento no CRUDE@@crude-cond-pagto-detalhe.label.cond-pagto">
              Condição de Pagamento
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chCondicao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chCondicao" required maxlength="50" (keyup)="inputCondicaoKeyup($event)"/>
        </label>
      </div>      
    </div>
  </form>
</app-cadastro-barra-acao>
