<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do Detalhe do CRUDE de Tipo de Contato da Pessoa@@crude-tipo-pessoa-contato-edicao.breadcrumb">
  Início/Tipo Contato/Edição
</span>

<app-cadastro-barra-acao 
  #cadastroBarraAcao
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <h1>
    <div
      i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Tipo de Contato da Pessoa@@crude-tipo-pessoa-contato-detalhe.titulo.tipo-pessoa-contato">
      TIPO DE CONTATO DA PESSOA
    </div>
  </h1>

  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>
    
    <div class="form-row">      
      <div class="form-group col-md-3">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Codigo|Identifica o codigo do Tipo Pessoa Contato CRUDE@@crude-tipo-pessoa-contato-detalhe.label.codigo">
              Código
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['inCodTipoPessoaContato']">
            </app-form-control-alerta-erro-api>
          </span>
          <kendo-numerictextbox
            formControlName="inCodTipoPessoaContato" 
            [format]="'N0'"
            [min]="1"
            [max]="999999999" 
            [autoCorrect]="false"
            [spinners]="false"
            required>
          </kendo-numerictextbox>
        </label>
      </div>

      <div class="form-group col-md-5">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descricao|Identifica a descricao do Tipo Pessoa Contato CRUDE@@crude-tipo-pessoa-contato-detalhe.label.descricao">
              Descrição
            </ng-container> 
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDescricao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDescricao" required maxlength="40" />
        </label>
      </div>
    </div>
  </form>
</app-cadastro-barra-acao>