<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do CRUDE de Tipo de Conta Bancária@@crude-tipo-conta-banco-listagem.breadcrumb">
  Início/Tipo Conta Banco/Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Tipo de Conta Bancária@@crude-tipo-conta-banco-listagem.titulo.tipo-conta-banco">
    TIPO DE CONTA BANCÁRIA
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaTipoContaBanco"
  [apiService]='apiTipoContaBancoService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodTipoContaBanco'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>