<span 
  #breadcrumb_traducao style='display:none;'
  i18n="breadcrumb|breadcrumb de Vendas da Campanha@@crude-campanha-venda.breadcrumb">
  Vendas da Campanha: listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="titulo|titulo da listagem do Vendas da Campanha@@crude-campanha-venda.titulo">
    VENDAS DA CAMPANHA
  </div>
  <div>
    <span i18n="Detalhes Campanha|texto que precede os dados da Campanha@@crude-campanha-venda-listagem.titulo.dadosCampanha">
      Campanha:
    </span>
    {{modelCampanhaEL01.chCodCampanha}} - {{modelCampanhaEL01.chDescricao}}
    <br />
    <span i18n="Detalhes Tipo|texto que precede os dados do Tipo@@crude-campanha-venda-listagem.titulo.dadosTipo">
      Tipo:
    </span>
    {{modelCampanhaEL01.chDesTipoCampanha}}
    <br />
    <span i18n="Detalhes Grupo Estab|texto que precede os dados do Grupo Estab@@crude-campanha-venda-listagem.titulo.dadosGrupoEstab">
      Grupo Estab.:
    </span>
    {{modelCampanhaParamEL01.inCodGrupoEstab}} {{modelCampanhaParamEL01.inCodGrupoEstab?'-':''}} {{modelCampanhaParamEL01.chDesGrupoEstab}}
    <br />
    <span i18n="Detalhes Estabelecimento|texto que precede os dados do Estabelecimento@@crude-campanha-venda-listagem.titulo.dadosEstabelec">
      Estabelecimento:
    </span>
    {{modelCampanhaParamEL01.chCodEstabelec}} {{modelCampanhaParamEL01.chCodEstabelec?' - ':''}} {{modelCampanhaParamEL01.chNomeAbrevEstabelec}} {{modelCampanhaParamEL01.chNomeAbrevEstabelec?' - ':''}} {{modelCampanhaParamEL01.chNomeEstabelec}}
    <br />
    <span i18n="Detalhes Período|texto que precede os dados do Período@@crude-campanha-venda-listagem.titulo.dadosPeriodo">
      Período das Vendas:
    </span>
    {{modelCampanhaParamEL01.dtDatVendaIni | date: 'short'}} à {{modelCampanhaParamEL01.dtDatVendaFim | date: 'short'}}
  </div>
</h1>

<app-grid-pesquisa #gridFiltro
  idGrid="pesquisaCampanhaVendaEL01" 
  [apiService]='apiCampanhaVendaEL01Service'
  nomeMetodoOrdenacao='mudarOrdenacao' 
  nomeMetodoApi='listar' 
  apiFieldKey='IDCampanhaVenda'
  [colunasGrid]='getColunasGridCadastro()' 
  pageSize='15' 
  [rotaCadastro]='gridRotasCadastro'
  [btn_acao_exibir]='btn_acao_exibir'>
</app-grid-pesquisa>
