<span 
    #breadcrumb_traducao
    style='display:none;'
    i18n="breadcrumb|Breadcrumb do CRUDE de Situação de Envio de E-Mail@@crude-situacao-env-email-listagem.breadcrumb">
    Início/Situação Envio E-Mail/Listagem
</span>

<h1 class='titulo_tela_listagem'>
    <div
    i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Situação de Envio de E-Mail@@crude-situacao-env-email-listagem.titulo.situacao-env-email">
    SITUAÇÃO DE ENVIO DE E-MAIL
    </div>
</h1>

<app-grid-pesquisa
    #gridFiltro
    idGrid="pesquisaSituacaoEnvEmail"
    [apiService]='apiSituacaoEnvEmailService'
    nomeMetodoOrdenacao='mudarOrdenacao'
    nomeMetodoApi='listar'
    apiFieldKey='inCodSituacaoEnvEmail'
    [colunasGrid]='getColunasGridCadastro()'
    pageSize='15'
    [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>