<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do CRUDE de Situação da Venda@@crude-situacao-venda-listagem.breadcrumb">
  Início/Situação Venda/Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Situação da Venda@@crude-situacao-venda-listagem.titulo.situacao-venda">
    SITUAÇÃO DA VENDA
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaSituacaoVenda"
  [apiService]='apiSituacaoVendaService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodSituacaoVenda'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>