<span 
    #breadcrumb_traducao
    style='display:none;'
    i18n="breadcrumb|Breadcrumb do CRUDE de Parâmetros do Sistema@@crude-param-corp-listagem.breadcrumb">
    Início/Parâmetros Sistema/Listagem
</span>

<h1 class='titulo_tela_listagem'>
    <div
    i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Parâmetros do Sistema@@crude-param-corp-listagem.titulo.param-corp">
    PARÂMETROS DO SISTEMA
    </div>
</h1>

<app-grid-pesquisa
    #gridFiltro
    idGrid="pesquisaParamCorp"
    [apiService]='apiParamCorpService'
    nomeMetodoOrdenacao='mudarOrdenacao'
    nomeMetodoApi='listar'
    apiFieldKey='chCodParamCorp'
    [colunasGrid]='getColunasGridCadastro()'
    pageSize='15'
    [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>