<span 
    #breadcrumb_traducao
    style='display:none;'
    i18n="breadcrumb|Breadcrumb do CRUDE Sequência@@crude-sequencia-listagem.breadcrumb">
    Início/Sequência/Listagem
</span>

<h1 class='titulo_tela_listagem'>
    <div
    i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Sequência@@crude-sequencia-listagem.titulo.sequencia">
    SEQUÊNCIA
    </div>
</h1>

<app-grid-pesquisa
    #gridFiltro
    idGrid="pesquisaSequencia"
    [apiService]='apiSequenciaService'
    nomeMetodoOrdenacao='mudarOrdenacao'
    nomeMetodoApi='listar'
    apiFieldKey='chCodSequencia'
    [colunasGrid]='getColunasGridCadastro()'
    pageSize='15'
    [rotaCadastro]='gridRotasCadastro'>
  </app-grid-pesquisa>