<span #breadcrumb_traducao style='display:none;' i18n="breadcrumb|breadcrumb de cliente @@tabs-cliente.breadcrumb">
  Início/Cliente/Edição
</span>

<kendo-tabstrip #kendoTab appCadastroTab id='idTabCadClienteFisica' [tab]='kendoTab' [cadastroBarraAcao]='cadPF.cadastroBarraAcao' (tabSelect)="onTabSelect($event)">

    <kendo-tabstrip-tab i18n-title="Nome Tab Cliente|Nome da tab Cliente de cliente@@tabs-cliente.tab.Cliente" [ngClass]='app-tab-content' [title]="'CLIENTE'" [selected]="tabSelecionada(0)">
        <ng-template kendoTabContent>
            <h1>
                <div i18n="Titulo cliente |Título interno que identifica o CRUDE de cliente fisica@@crude-cliente-listagem.titulo.cliente">
                    CLIENTE
                </div>
            </h1>
        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab *ngIf="cadPF.modelClienteEL01.inCodTipoPessoaCliente == 1" i18n-title="Nome Tab 'Documentos complementares'|Nome da tab 'Documentos complementares' de pessoas @@tabs-Cliente.tab.DocumentosComplementares"
        title='DOC.COMPLEM.' [selected]="tabSelecionada(1)">
        <ng-template kendoTabContent>
            <h1>
                <div i18n="Título do conteúdo da Tab|Título do conteúdo da tab 'Documentos complementares' de pessoas@@tabs-cliente.tab.titulo.DocumentosComplementares">
                    DOCUMENTOS COMPLEMENTARES DO CLIENTE
                </div>
                <div>
                    <span i18n="Detalhes cliente|texto que precede os dados de Cliente@@tabs-cliente.tab.titulo.dadosCliente">
            Cliente:
          </span> {{cadPF.modelClienteEL01.IDCliente}} - {{cadPF.modelClienteEL01.chNomeCliente}} - {{this.cadPF.modelClienteEL01.chDesTipoDocumento}}: {{this.cadPF.modelClienteEL01.inNumIdentificacao}}
                </div>
            </h1>
            <app-crude-pessoa-documento-detalhe #gridInterfaceTabCadastroFilhoDocumento></app-crude-pessoa-documento-detalhe>
            <app-crude-pessoa-documento-listagem [gridInterfaceTabCadastroFilho]='gridInterfaceTabCadastroFilhoDocumento'>
            </app-crude-pessoa-documento-listagem>
        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab i18n-title="Nome Tab 'Endereços'|Nome da tab 'Endereços' de clientes@@tabs-cliente.tab.Enderecos" title='ENDEREÇOS' 
[selected]="tabSelecionada((cadPF.modelClienteEL01.inCodTipoPessoaCliente == 1)?2:1)">
        <ng-template kendoTabContent>
            <h1>
                <div i18n="Título do conteúdo da Tab|Título do conteúdo da tab 'Endereços' de pessoas@@tabs-cliente.tab.titulo.Enderecos">
                    ENDEREÇOS DO CLIENTE
                </div>
                <div>
                    <span i18n="Detalhes cliente|texto que precede os dados de Cliente@@tabs-cliente.tab.titulo.dadosCliente">
            Cliente:
          </span> {{cadPF.modelClienteEL01.IDCliente}} - {{cadPF.modelClienteEL01.chNomeCliente}} - {{this.cadPF.modelClienteEL01.chDesTipoDocumento}}: {{this.cadPF.modelClienteEL01.inNumIdentificacao}}
                </div>
            </h1>
            <app-crude-pessoa-endereco-detalhe #gridInterfaceTabCadastroFilhoEndereco>
            </app-crude-pessoa-endereco-detalhe>
            <app-crude-pessoa-endereco-listagem [gridInterfaceTabCadastroFilho]='gridInterfaceTabCadastroFilhoEndereco'>
            </app-crude-pessoa-endereco-listagem>
        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab i18n-title="Nome Tab 'Telefones'|Nome da tab 'Telefones' de pessoas@@tabs-cliente.tab.Telefones" title='TELEFONES' 
    [selected]="tabSelecionada((cadPF.modelClienteEL01.inCodTipoPessoaCliente == 1)?3:2)">
        <ng-template kendoTabContent>
            <h1>
                <div i18n="Título do conteúdo da Tab|Título do conteúdo da tab 'Telefones' de clientes@@tabs-cliente.tab.titulo.Telefones">
                    TELEFONES DO CLIENTE
                </div>
                <div>
                    <span i18n="Detalhes Cliente|texto que precede os dados de Cliente@@tabs-cliente.tab.titulo.dadosCliente">
            Cliente:
          </span> {{cadPF.modelClienteEL01.IDCliente}} - {{cadPF.modelClienteEL01.chNomeCliente}} - {{this.cadPF.modelClienteEL01.chDesTipoDocumento}}: {{this.cadPF.modelClienteEL01.inNumIdentificacao}}
                </div>
            </h1>
            <app-crude-pessoa-telefone-detalhe #gridInterfaceTabCadastroFilhoTelefone>
            </app-crude-pessoa-telefone-detalhe>
            <app-crude-pessoa-telefone-listagem [gridInterfaceTabCadastroFilho]='gridInterfaceTabCadastroFilhoTelefone'>
            </app-crude-pessoa-telefone-listagem>
        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab i18n-title="Nome Tab 'e-mails'|Nome da tab 'E-mails' de pessoas@@tabs-cliente.tab.emails" title='E-MAILS' 
[selected]="tabSelecionada((cadPF.modelClienteEL01.inCodTipoPessoaCliente == 1)?4:3)">
        <ng-template kendoTabContent>
            <h1>
                <div i18n="Título do conteúdo da Tab|Título do conteúdo da tab 'E-Mails' de pessoas @@tabs-cliente.tab.titulo.Emails">
                    E-MAILS DO CLIENTE
                </div>
                <div>
                    <span i18n="Detalhes cliente|texto que precede os dados de Cliente@@tabs-cliente.tab.titulo.dadosCliente">
            Cliente:
          </span> {{cadPF.modelClienteEL01.IDCliente}} - {{cadPF.modelClienteEL01.chNomeCliente}} - {{this.cadPF.modelClienteEL01.chDesTipoDocumento}}: {{this.cadPF.modelClienteEL01.inNumIdentificacao}}
                </div>
            </h1>
            <app-crude-pessoa-email-detalhe #gridInterfaceTabCadastroFilhoEmail>
            </app-crude-pessoa-email-detalhe>
            <app-crude-pessoa-email-listagem [gridInterfaceTabCadastroFilho]='gridInterfaceTabCadastroFilhoEmail'>
            </app-crude-pessoa-email-listagem>
        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab *ngIf="cadPF.modelClienteEL01.inCodTipoPessoaCliente == 2" i18n-title="Nome Tab 'Contatos'|Nome da tab 'Contatos' de pesoas jurídicas@@tabs-cliente.tab.Contatos" title='CONTATOS' 
     [selected]="tabSelecionada(4)">
        <ng-template kendoTabContent>
            <h1>
                <div i18n="Título do conteúdo da Tab|Título do conteúdo da tab 'Contatos' de pesoas jurídicas@@tabs-cliente.tab.titulo.Contatos">
                    CONTATOS DO CLIENTE
                </div>
                <div>
                    <span i18n="Detalhes cliente|texto que precede os dados de Cliente@@tabs-cliente.tab.titulo.dadosCliente">
          Cliente:
        </span> {{cadPF.modelClienteEL01.Cliente}} - {{cadPF.modelClienteEL01.Cliente}} - {{this.cadPF.modelClienteEL01.chDesTipoDocumento}}: {{this.cadPF.modelClienteEL01.inNumIdentificacao}}
                </div>
            </h1>
            <app-crude-pessoa-contato-detalhe #gridInterfaceTabCadastroFilhoContato>
            </app-crude-pessoa-contato-detalhe>
            <app-crude-pessoa-contato-listagem [gridInterfaceTabCadastroFilho]='gridInterfaceTabCadastroFilhoContato'>
            </app-crude-pessoa-contato-listagem>
        </ng-template>
    </kendo-tabstrip-tab>
</kendo-tabstrip>

<app-crude-cliente-detalhe #cadPF [style.visibility]="tabSelecionada(0)? 'visible' : 'hidden'"></app-crude-cliente-detalhe>
