<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do Detalhe do CRUDE Solução para Assistência Técnica@@crude-soluc-ass-tec-edicao.breadcrumb">
  Solução para Assistência Técnica ID:
</span>

<app-cadastro-barra-acao
  #cadastroBarraAcao
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <h1>
    <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Solução para Assistência Técnica@@crude-soluc-ass-tec-detalhe.titulo.soluc-ass-tec">
      SOLUÇÃO PARA ASSISTÊNCIA TÉCNICA
    </div>
  </h1>
  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 col-lg-4 col-sm-12">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Codigo|Identifica o codigo do Solução para Assistência Técnica CRUDE@@crude-soluc-ass-tec-detalhe.label.inCodSolucAssTec">
              Código
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['inCodSolucAssTec']">
            </app-form-control-alerta-erro-api>
          </span>
          <kendo-numerictextbox
            required
            formControlName="inCodSolucAssTec"
            [format]="'N0'"
            [min]="1"
            [max]="999999999"
            [autoCorrect]="false"
            [spinners]="false">
          </kendo-numerictextbox>
        </label>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-12 col-lg-8 col-sm-12">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descrição|Identifica a descricao do Solução para Assistência Técnica CRUDE@@crude-soluc-ass-tec-detalhe.label.chDescricao">
              Descrição
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDescricao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDescricao" required maxlength="50" />
        </label>
      </div>
    </div>
  </form>
</app-cadastro-barra-acao>