<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do CRUDE de Grau de Parentesco@@crude-grau-parent-listagem.breadcrumb">
  Início/Grau Parentesco/Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Grau de Parentesco@@crude-grau-parent-listagem.titulo.grau-parent">
    GRAU DE PARENTESCO
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaGrauParent"
  [apiService]='apiGrauParentService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodGrauParent'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>