<span
  #breadcrumb_traducao style='display:none;'
  i18n="breadcrumb|Breadcrumb do Detalhe do CRUDE Canal de Venda@@crude-canal-venda-edicao.breadcrumb">
  Canal de Vendas ID: 
</span>

<app-cadastro-barra-acao
  #cadastroBarraAcao
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <h1>
    <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Canal de Venda@@crude-canal-venda-detalhe.titulo.canal-venda">
      CANAL DE VENDAS
    </div>
  </h1>

  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Codigo|Identifica o codigo do canal de vendas CRUDE@@crude-canal-venda-detalhe.label.chCodCanalVenda">
              Código
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chCodCanalVenda']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chCodCanalVenda" required maxlength="10" />
        </label>
      </div>

      <div class="form-group col-md-5">
        <label class="k-form-field">
          <span>
            <ng-container
              i18n="Label Descrição|Identifica a descricao do canal de venda CRUDE@@crude-canal-venda-detalhe.label.chDescricao">
              Descrição
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDescricao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDescricao" required maxlength="50" />
        </label>
      </div>
    </div>
  </form>
</app-cadastro-barra-acao>