<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do Detalhe do CRUDE Tipo de Integração de Campanha@@crude-tipo-integra-camp-edicao.breadcrumb">
  Tipo Integração Campanha ID:
</span>

<app-cadastro-barra-acao 
  #cadastroBarraAcao
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <h1>
    <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Tipo de Integração de Campanha@@crude-tipo-integra-camp-detalhe.titulo.tipo-integra-comp">
      TIPO DE INTEGRAÇÃO DE CAMPANHA
    </div>
  </h1>

  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6 col-lg-4 col-sm-12">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Codigo|Identifica o codigo do Tipo de Integração de Campanha CRUDE@@crude-tipo-integra-camp-detalhe.label.inCodTipoIntegraCamp">
              Código
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['inCodTipoIntegraCamp']">
            </app-form-control-alerta-erro-api>
          </span>
          <kendo-numerictextbox            
            formControlName="inCodTipoIntegraCamp" 
            [format]="'N0'"
            [min]="1" 
            [max]="999999999"            
            [autoCorrect]="false" 
            [spinners]="false"
            required
            >
          </kendo-numerictextbox>
        </label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12 col-lg-8 col-sm-12">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descricao|Identifica a descricao do Tipo de Integração de Campanha CRUDE@@crude-tipo-integra-camp-detalhe.label.chDescricao">
              Descrição
            </ng-container> 
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDescricao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDescricao" required maxlength="50" />
        </label>
      </div>
    </div>
  </form>
</app-cadastro-barra-acao>
