<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb de Família Comercial Listagem@@crude-fam-com-listagem.breadcrumb">
  Família Comercial: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Família Comercial@@crude-fam-com-listagem.titulo.fam-com">
    FAMÍLIA COMERCIAL
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaFamCom"
  [apiService]='apiFamComService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='IDFamCom'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>