<app-cadastro-barra-acao
  #cadastroBarraAcao
  isNotVisible='true'
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Codigo|Identifica o codigo do microrregiao CRUDE@@crude-microrregiao-detalhe.label.chCodMicrorregiao">
              Código
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chCodMicrorregiao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chCodMicrorregiao" required maxlength="10" />
        </label>
      </div>

      <div class="form-group col-md-5">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descrição|Identifica a descricao da microrregiao CRUDE@@crude-microrregiao-detalhe.label.chDescricao">
              Descrição
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDescricao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDescricao" required maxlength="50" />
        </label>
      </div>
    </div>
  </form>
</app-cadastro-barra-acao>