<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb de Condição de PagamentoListagem@@crude-cond-pagto-venda-listagem.breadcrumb">
  Condição de Pagamento: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Condição de Pagamento@@crude-cond-pagto-venda-listagem.titulo.cond-pagto-venda">
    CONDIÇÃO DE PAGAMENTO
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaCondPagtoVenda"
  [apiService]='apiCondPagtoVendaService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='chCodCondPagtoVenda'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>