<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb de Situação da Solicitação de Crédito Listagem@@crude-situacao-solic-cred-listagem.breadcrumb">
  Situação: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Situação da Solicitação de Crédito@@crude-situacao-solic-cred-listagem.titulo.situacao-solic-cred">
     SITUAÇÃO DA SOLICITAÇÃO DE CRÉDITO
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaSituacaoSolicCred"
  [apiService]='apiSituacaoSolicCredService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodSituacaoSolicCred'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>