<app-cadastro-barra-acao
  #cadastroBarraAcao
  isNotVisible='true'
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label ID|Identifica o codigo ID do assistencia do seguro@@crude-assist-seg-detalhe.label.IDAssistSeg">
              ID
            </ng-container>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['IDAssistSeg']">
            </app-form-control-alerta-erro-api>
          </span>
          <kendo-numerictextbox
            formControlName="IDAssistSeg"
            [format]="'N0'"
            [min]="0"
            [max]="999999999"
            [autoCorrect]="false"
            [spinners]="false">
          </kendo-numerictextbox>
        </label>
      </div>
      <div class="form-group col-md-3">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Código|Identifica o Código do assistencia do seguro@@crude-assist-seg-detalhe.label.chCodAssistSeg">
              Código
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chCodAssistSeg']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chCodAssistSeg" maxlength="20" />
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descrição|Identifica a Descrição doassistencia do seguro@@crude-assist-seg-detalhe.label.chDescricao">
              Descrição
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDescricao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDescricao" maxlength="50" />
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descrição Externa|Identifica a Descrição Externa da assistencia do seguro@@crude-assist-seg-detalhe.label.chDesExterna">
              Descrição Externa
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDesExterna']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDesExterna" maxlength="50" />
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Sorteio|Identifica o Sorteio do seguro@@crude-assist-seg-detalhe.label.IDSorteioSeg">
              Sorteio
            </ng-container>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['IDSorteioSeg']">
            </app-form-control-alerta-erro-api>
          </span>
          <app-api-select  
          placeholder='selecione' 
          formControlName='IDSorteioSeg' 
          [apiService]='apiSorteioSegService'
          apiNomeMetodoListar='listar' 
          apiFieldExibir="chDescricao" 
          apiFieldKey="IDSorteioSeg">
        </app-api-select>
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descrição Detalhada|Identifica a Descrição Detalhada da assistencia do seguro@@crude-assist-seg-detalhe.label.chDesDetalhe">
              Descrição Detalhada
            </ng-container>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDesDetalhe']">
            </app-form-control-alerta-erro-api>
          </span>
          <textarea kendoTextArea 
            class="k-textarea"
            formControlName="chDesDetalhe"
            rows="10"
            style="width: 100%;">
          </textarea>
        </label>
      </div>
    </div>


  </form>

</app-cadastro-barra-acao>