<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do CRUDE Tipo De CTe@@crude-tipo-cte-listagem.breadcrumb">
  Início/Tipo CTe/Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Tipo De CTe@@crude-tipo-cte-listagem.titulo.tipo-cte">
    TIPO DE CTe
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaTipoCte"
  [apiService]='apiTipoCteService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodTipoCTe'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>