<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do Detalhe do CRUDE Família Comercial@@crude-fam-com-edicao.breadcrumb">
  Família Comercial ID:
</span>

<app-cadastro-barra-acao
  #cadastroBarraAcao
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <h1>
    <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Família Comercial@@crude-fam-com-detalhe.titulo.fam-com">
      FAMÍLIA COMERCIAL
    </div>
  </h1>
  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 col-lg-3 col-sm-12">
        <label class="k-form-field">
          <span>
            <ng-container
              i18n="Label ID|Identifica o ID do Família Comercial CRUDE@@crude-fam-com-detalhe.label.IDFamCom">
              ID
            </ng-container>
            <!-- <span class="k-required">*</span> -->
            <app-form-control-alerta-erro-api [mensagemErro]="apiErrorCollection.campos['IDFamCom']">
            </app-form-control-alerta-erro-api>
          </span>
          <kendo-numerictextbox
            formControlName="IDFamCom"
            [format]="'N0'"
            [min]="1"
            [max]="999999999"
            [autoCorrect]="false"
            [spinners]="false"
            disabled="true">
          </kendo-numerictextbox>
        </label>
      </div>
      <div class="form-group col-md-6 col-lg-3 col-sm-12">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Codigo|Identifica o codigo do Família Comercial CRUDE@@crude-fam-com-detalhe.label.chCodFamCom">
              Código
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chCodFamCom']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chCodFamCom" maxlength="20" />
        </label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12 col-lg-10 col-sm-12">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descrição|Identifica a descricao do Família Comercial CRUDE@@crude-fam-com-detalhe.label.chDescricao">
              Descrição
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDescricao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDescricao" maxlength="100" />
        </label>
      </div>
    </div>
  </form>
</app-cadastro-barra-acao>