<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb de Tipo RepresentanteListagem@@crude-tipo-representante-listagem.breadcrumb">
  Tipo Representante: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Tipo Representante@@crude-tipo-representante-listagem.titulo.tipo-representante">
    TIPO DE REPRESENTANTE
  </div>
</h1>

<app-grid-pesquisa #gridFiltro 
  idGrid="pesquisaTipoRepresentante" 
  [apiService]='apiTipoRepresentanteService'
  nomeMetodoOrdenacao='mudarOrdenacao' 
  nomeMetodoApi='listar' 
  apiFieldKey='inCodTipoRepresentante'
  [colunasGrid]='getColunasGridCadastro()' 
  pageSize='15' 
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>