<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb de Canal de VendaListagem@@crude-canal-venda-listagem.breadcrumb">
  Canal de Vendas: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Canal de Venda@@crude-canal-venda-listagem.titulo.canal-venda">
     CANAL DE VENDAS
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaCanalVenda"
  [apiService]='apiCanalVendaService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='chCodCanalVenda'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>