<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do CRUDE de Tipo de E-mail da Pessoa@@crude-tipo-pessoa-email-listagem.breadcrumb">
  Início/Tipo E-Mail/Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Tipo de E-mail da Pessoa@@crude-tipo-pessoa-email-listagem.titulo.tipo-pessoa-email">
  TIPO DE E-MAIL DA PESSOA
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaTipoPessoaEmail"
  [apiService]='apiTipoDocumentoPessoaEmailService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodTipoPessoaEmail'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>