<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do CRUDE de Tipo de Periodicidade de Contribuição do Seguro@@crude-tipo-per-contrib-listagem.breadcrumb">
  Início/Periodicidade Contribuição/Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Tipo de Periodicidade de Contribuição do Seguro@@crude-tipo-per-contrib-listagem.titulo.tipo-per-contrib">
    TIPO DE PERIODICIDADE DE CONTRIBUIÇÃO DO SEGURO
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaTipoPerContrib"
  [apiService]='apiTipoPerContribService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodTipoPerContrib'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>