<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do CRUDE de Condição de Pagamento@@crude-cond-pagto-listagem.breadcrumb">
  Início/Condição Pagamento/Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Condição de Pagamento@@crude-cond-pagto-listagem.titulo.cond-pagto">
    CONDIÇÃO DE PAGAMENTO
  </div>
  </h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaCondPagto"
  [apiService]='apiCondPagtoService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='chCodCondPagto'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>