<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do Detalhe do CRUDE de Tipo de Periodicidade de Contribuição do Seguro@@crude-tipo-per-contrib-edicao.breadcrumb">
  Início/Periodicidade Contribuição/Edição
</span>

<app-cadastro-barra-acao 
  #cadastroBarraAcao
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <h1>
    <div
      i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Tipo de Periodicidade de Contribuição do Seguro@@crude-tipo-per-contrib-detalhe.titulo.tipo-per-contrib">
      TIPO DE PERIODICIDADE DE CONTRIBUIÇÃO DO SEGURO
    </div>
  </h1>

  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-3">            
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Código|Identifica o Código do Tipo de Periodicidade de Contribuição no CRUDE@@crude-tipo-per-contrib-detalhe.label.codigo">
              Código
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['inCodTipoPerContrib']">
            </app-form-control-alerta-erro-api>
          </span>
          <kendo-numerictextbox
            formControlName="inCodTipoPerContrib"
            [format]="'N0'"
            [min]="1"
            [max]="999999999"
            [autoCorrect]="false"
            [spinners]="false"
            required>
          </kendo-numerictextbox>
        </label>
      </div>
    
      <div class="form-group col-md-5">            
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descrição|Identifica a Descrição do Tipo de Periodicidade de Contribuição  no CRUDE@@crude-tipo-per-contrib-detalhe.label.descricao">
              Descrição
            </ng-container>                      
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDescricao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDescricao" required maxlength="50" />
        </label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">          
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Número de Meses|Identifica o Número de Meses do Tipo de Periodicidade de Contribuição no CRUDE@@crude-tipo-per-contrib-detalhe.label.numMeses">
              Número de Meses
            </ng-container>                    
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['inNumSomaMes']">
            </app-form-control-alerta-erro-api>
          </span>
          <kendo-numerictextbox
            formControlName="inNumSomaMes"
            [format]="'N0'"
            [min]="0"
            [max]="9999"
            [autoCorrect]="false"
            [spinners]="false">
          </kendo-numerictextbox>
        </label>
      </div>
    </div>
  </form>
</app-cadastro-barra-acao>