<span #breadcrumb_traducao style='display:none;' i18n="breadcrumb|breadcrumb de segurado@@tabs-segurado.breadcrumb">
  Início/Segurado/Edição
</span>

<kendo-tabstrip
  #kendoTab
  appCadastroTab
  id='idTabCadPessoaFisica'
  [tab]='kendoTab'
  [cadastroBarraAcao]='cadPF.cadastroBarraAcao'
  (tabSelect)="onTabSelect($event)">

  <kendo-tabstrip-tab
    i18n-title="Nome Tab SEGURADO|Nome da tab SEGURADO de Pessoas Jurídicas@@tabs-segurado-juridica.tab.Pessoa"
    [ngClass]='app-tab-content'
    [title]="'SEGURADO'"
    [selected]="tabSelecionada(0)">
    <ng-template kendoTabContent>
      <h1>
        <div i18n="Titulo Segurado|Título interno que identifica o CRUDE de Segurado Pessoa Jurídica@@tabs-segurado-juridica.tab.pessoa.titulo">
          SEGURADO PESSOA JURÍDICA
        </div>
      </h1>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab
    i18n-title="Nome Tab 'Endereços'|Nome da tab 'Endereços' de Segurado Pessoas Jurídicas@@tabs-segurado-pessoa-juridica.tab.Enderecos"
    title='ENDEREÇOS'
    [selected]="tabSelecionada(1)">
    <ng-template kendoTabContent>
      <h1>
        <div i18n="Título do conteúdo da Tab|Título do conteúdo da tab 'Endereços' de Segurado Pessoas Jurídicas@@tabs-segurado-pessoa-juridica.tab.titulo.Enderecos">
          ENDEREÇOS DO SEGURADO
        </div>
        <div>
          <span i18n="Detalhes pessoa|texto que precede os dados de Pessoa@@tabs-segurado-pessoa-juridica.tab.titulo.dadosPessoa">
            Segurado:
          </span>
          {{cadPF.modelSegurado.IDPessoa}} - {{cadPF.modelSegurado.chNomePessoa}} - {{this.cadPF.modelSegurado.chDesTipoDocumento}}:
          {{this.cadPF.modelSegurado.inNumIdentificacao}}
        </div>
      </h1>
      <app-crude-pessoa-endereco-detalhe #gridInterfaceTabCadastroFilhoEndereco>
      </app-crude-pessoa-endereco-detalhe>
      <app-crude-pessoa-endereco-listagem [gridInterfaceTabCadastroFilho]='gridInterfaceTabCadastroFilhoEndereco'>
      </app-crude-pessoa-endereco-listagem>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab
    i18n-title="Nome Tab 'Telefones'|Nome da tab 'Telefones' de Segurado Pessoas Jurídicas@@tabs-segurado-pessoa-juridica.tab.Telefones"
    title='TELEFONES'
    [selected]="tabSelecionada(2)">
    <ng-template kendoTabContent>
      <h1>
        <div i18n="Título do conteúdo da Tab|Título do conteúdo da tab 'Telefones' de Segurado Pessoas Jurídicas@@tabs-segurado-pessoa-juridica.tab.titulo.Telefones">
          TELEFONES DO SEGURADO
        </div>
        <div>
          <span i18n="Detalhes pessoa|texto que precede os dados de Pessoa@@tabs-segurado-pessoa-juridica.tab.titulo.dadosPessoa">
            Segurado:
          </span>
          {{cadPF.modelSegurado.IDPessoa}} - {{cadPF.modelSegurado.chNomePessoa}} - {{this.cadPF.modelSegurado.chDesTipoDocumento}}:
          {{this.cadPF.modelSegurado.inNumIdentificacao}}
        </div>
      </h1>
      <app-crude-pessoa-telefone-detalhe #gridInterfaceTabCadastroFilhoTelefone>
      </app-crude-pessoa-telefone-detalhe>
      <app-crude-pessoa-telefone-listagem [gridInterfaceTabCadastroFilho]='gridInterfaceTabCadastroFilhoTelefone'>
      </app-crude-pessoa-telefone-listagem>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab
    i18n-title="Nome Tab 'e-mails'|Nome da tab 'E-mails' de Segurado Pessoas Jurídicas@@tabs-segurado-pessoa-juridica.tab.emails"
    title='E-MAILS'
    [selected]="tabSelecionada(3)">
    <ng-template kendoTabContent>
      <h1>
        <div i18n="Título do conteúdo da Tab|Título do conteúdo da tab 'E-Mails' de Segurado Pessoas Jurídicas@@tabs-segurado-pessoa-juridica.tab.titulo.Emails">
          E-MAILS DO SEGURADO
        </div>
        <div>
          <span i18n="Detalhes pessoa|texto que precede os dados de Pessoa@@tabs-segurado-pessoa-juridica.tab.titulo.dadosPessoa">
            Segurado:
          </span>
          {{cadPF.modelSegurado.IDPessoa}} - {{cadPF.modelSegurado.chNomePessoa}} - {{this.cadPF.modelSegurado.chDesTipoDocumento}}:
          {{this.cadPF.modelSegurado.inNumIdentificacao}}
        </div>
      </h1>
      <app-crude-pessoa-email-detalhe #gridInterfaceTabCadastroFilhoEmail>
      </app-crude-pessoa-email-detalhe>
      <app-crude-pessoa-email-listagem [gridInterfaceTabCadastroFilho]='gridInterfaceTabCadastroFilhoEmail'>
      </app-crude-pessoa-email-listagem>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab
    i18n-title="Nome Tab 'Contas Bancárias'|Nome da tab 'Contas Bancárias' de Segurado Pessoas Jurídicas@@tabs-segurado-pessoa-juridica.tab.ContasBancarias"
    title='CONTAS BANCÁRIAS'
    [selected]="tabSelecionada(4)">
    <ng-template kendoTabContent>
      <h1>
        <div i18n="Título do conteúdo da Tab|Título do conteúdo da tab 'Contas Bancárias' de Segurado Pessoas Jurídicas@@tabs-segurado-pessoa-juridica.tab.titulo.ContasBancarias">
          CONTAS BANCÁRIAS DO SEGURADO
        </div>
        <div>
          <span i18n="Detalhes pessoa|texto que precede os dados de Pessoa@@tabs-segurado-pessoa-juridica.tab.titulo.dadosPessoa">
            Segurado:
          </span>
          {{cadPF.modelSegurado.IDPessoa}} - {{cadPF.modelSegurado.chNomePessoa}} - {{this.cadPF.modelSegurado.chDesTipoDocumento}}:
          {{this.cadPF.modelSegurado.inNumIdentificacao}}
        </div>
      </h1>
      <app-crude-pessoa-conta-banco-detalhe #gridInterfaceTabCadastroFilhoContaBanco>
      </app-crude-pessoa-conta-banco-detalhe>
      <app-crude-pessoa-conta-banco-listagem [gridInterfaceTabCadastroFilho]='gridInterfaceTabCadastroFilhoContaBanco'>
      </app-crude-pessoa-conta-banco-listagem>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab
    i18n-title="Nome Tab 'Contatos'|Nome da tab 'Contatos' de Segurado Pessoas Jurídicas@@tabs-segurado-pessoa-juridica.tab.Contatos"
    title='CONTATOS'
    [selected]="tabSelecionada(5)">
    <ng-template kendoTabContent>
      <h1>
        <div i18n="Título do conteúdo da Tab|Título do conteúdo da tab 'Contatos' de Segurado Pessoas Jurídicas@@tabs-segurado-pessoa-juridica.tab.titulo.Contatos">
          CONTATOS DO SEGURADO
        </div>
        <div>
          <span i18n="Detalhes pessoa|texto que precede os dados de Pessoa@@tabs-segurado-pessoa-juridica.tab.titulo.dadosPessoa">
            Segurado:
          </span>
          {{cadPF.modelSegurado.IDPessoa}} - {{cadPF.modelSegurado.chNomePessoa}} - {{this.cadPF.modelSegurado.chDesTipoDocumento}}:
          {{this.cadPF.modelSegurado.inNumIdentificacao}}
        </div>
      </h1>
      <app-crude-pessoa-contato-detalhe #gridInterfaceTabCadastroFilhoContato>
      </app-crude-pessoa-contato-detalhe>
      <app-crude-pessoa-contato-listagem [gridInterfaceTabCadastroFilho]='gridInterfaceTabCadastroFilhoContato'>
      </app-crude-pessoa-contato-listagem>
    </ng-template>
  </kendo-tabstrip-tab>  
</kendo-tabstrip>

<app-crude-segurado-juridica #cadPF [style.visibility]="tabSelecionada(0)? 'visible' : 'hidden'">
</app-crude-segurado-juridica>