<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb de Tipo Técnico Listagem@@crude-tipo-tecnico-listagem.breadcrumb">
  Tipo Técnico: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Tipo Técnico@@crude-tipo-tecnico-listagem.titulo.tipo-tecnico">
    TIPO DE TÉCNICO DA ASSISTÊNCIA TÉCNICA
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaTipoTecnico"
  [apiService]='apiTipoTecnicoService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodTipoTecnico'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>