<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do Detalhe do CRUDE Tipo Técnico@@crude-tipo-tecnico-edicao.breadcrumb">
  Tipo Técnico ID:
</span>

<app-cadastro-barra-acao
  #cadastroBarraAcao
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <h1>
    <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Tipo Técnico@@crude-tipo-tecnico-detalhe.titulo.tipo-tecnico">
      TIPO DE TÉCNICO DA ASSISTÊNCIA TÉCNICA
    </div>
  </h1>
  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 col-lg-4 col-sm-12">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Codigo|Identifica o codigo do Tipo Técnico CRUDE@@crude-tipo-tecnico-detalhe.label.inCodTipoTecnico">
              Código
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['inCodTipoTecnico']">
            </app-form-control-alerta-erro-api>
          </span>
          <kendo-numerictextbox
            formControlName="inCodTipoTecnico"
            [format]="'N0'"
            [min]="1"
            [max]="999999999"
            [autoCorrect]="false"
            [spinners]="false">
          </kendo-numerictextbox>
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12 col-lg-8 col-sm-12">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descrição|Identifica a descricao do Tipo Técnico CRUDE@@crude-tipo-tecnico-detalhe.label.chDescricao">
              Descrição
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDescricao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDescricao" required maxlength="50" />
        </label>
      </div>
    </div>
  </form>
</app-cadastro-barra-acao>
