<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb da Tipos de Frete Listagem@@crude-tipo-frete-listagem.breadcrumb">
  Tipo Frete: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Tipos de Frete@@crude-tipo-frete-listagem.titulo.tipo-frete">
    TIPO DE FRETE
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaTipoFrete"
  [apiService]='apiTipoFreteService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodTipoFrete'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>