<span
  #breadcrumb_traducao style='display:none;'
  i18n="breadcrumb|breadcrumb de Representante Listagem@@crude-representante-listagem.breadcrumb">
  Representante: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Representante@@crude-representante-listagem.titulo.representante">
     REPRESENTANTE
  </div> 
</h1>
<div class="area-filtro">

  <form action="" [formGroup]="formGroupPesquisa" class="k-form">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputTexto">Tipo de Representante</label>
        <app-filtro-multiselect 
           formControlName='listaTipoRepresentante' 
           [apiService]='apiTipoRepresentanteService'
           apiNomeMetodoListar='listar' 
           apiFieldExibir="chDescricao" 
           apiFieldKey="inCodTipoRepresentante"
           placeholder="ambos" 
           pesquisaFieldWhere='inCodTipoRepresentante' 
           [pesquisaGridFiltro]="gridFiltro">
        </app-filtro-multiselect>
      </div>
      <div class="form-group col-md-4">
        <label for="inputTexto">Situação Cadastral</label>
        <app-filtro-multiselect 
          formControlName='listaSituacaoCadastral' 
          [apiService]='apiSituacaoCadService'
          apiNomeMetodoListar='listar' 
          apiFieldExibir="chDescricao" 
          apiFieldKey="inCodSituacaoCad" 
          placeholder="ambos"
          pesquisaFieldWhere='inCodSituacaoCad' 
          [pesquisaGridFiltro]="gridFiltro">
        </app-filtro-multiselect>
      </div>
      <div class="col-md-2"></div>
      <div class="form-group col-md-2">
        <button kendoButton class="form-control btn-filtro-acao" (click)="executarPesquisa()" [primary]="true">
          <span class="k-icon k-i-search"></span> pesquisar
        </button>
      </div>
    </div>
  </form>
</div>
<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaRepresentante"
  [apiService]='apiRepresentanteService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='IDRepresentante'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'
  (btn_Inativar_click)='btn_Inativar_click($event)' [btn_Inativar_exibir]='btn_Inativar_exibir' btn_Inativar_titulo='Inativar Representante' i18n-btn_Inativar_titulo="botão de ação: inativar|botão na coluna de ação para inativar um representante@@crude-representante-listagem.btn_Inativar_tooltip"
  (btn_Reativar_click)='btn_Reativar_click($event)'[btn_Reativar_exibir]='btn_Reativar_exibir' btn_Reativar_titulo='Reativar Representante' i18n-btn_Reativar_titulo="botão de ação: reativar|botão na coluna de ação para reativar um representante@@crude-representante-listagem.btn_Reativar_tooltip"
>
</app-grid-pesquisa>