<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do CRUDE de Tipo de Logradouro@@crude-tipo-logradouro-listagem.breadcrumb">
  Início/Tipo Logradouro/Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Tipo de Logradouro@@crude-tipo-logradouro-listagem.titulo.tipo-logradouro">
  TIPO DE LOGRADOURO
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaTipoLogradouro"
  [apiService]='apiTipoLogradouroService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodTipoLogradouro'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>
