<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do CRUDE de Tipo de Fatura de Contas a Receber CR@@crude-tipo-fatura-cr-listagem.breadcrumb">
  Tipo Fatura: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Tipo de Fatura de Contas a Receber@@crude-tipo-fatura-cr-listagem.titulo.tipo-fatura-cr">
    TIPO DE FATURA DO CONTAS A RECEBER
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaTipoFaturaCR"
  [apiService]='apiTipoFaturaCrService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodTipoFaturaCR'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>
