<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb de Situação de Atendimento do Item do Pedido de Compra Listagem@@crude-sit-aten-ped-comp-listagem.breadcrumb">
  Situação: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Situação de Atendimento do Item do Pedido de Compra@@crude-sit-aten-ped-comp-listagem.titulo">
    SITUAÇÃO DE ATENDIMENTO DO ITEM DO PEDIDO DE COMPRA
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaSitAtenPedComp"
  [apiService]='apiSitAtenPedCompService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodSitAtenPedComp'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>
