<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb de Família de Materiais Listagem@@crude-fam-mat-listagem.breadcrumb">
  Família de Materiais: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Família de Materiais@@crude-fam-mat-listagem.titulo.fam-mat">
    FAMÍLIA DE MATERIAIS
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaFamMat"
  [apiService]='apiFamMatService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='IDFamMat'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>