<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb de Espécie do Item Listagem@@crude-especie-item-listagem.breadcrumb">
  Espécie do Item: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Espécie do Item@@crude-especie-item-listagem.titulo.especie-item">
    ESPÉCIE DO ITEM
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaEspecieItem"
  [apiService]='apiEspecieItemService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodEspecieItem'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>