<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do Detalhe do CRUDE do Origem do Contas a Receber@@crude-origem-cr-listagem.breadcrumb">
  Origem: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE do Origem do Contas a Receber@@crude-origem-cr-listagem.titulo.origem-cr">
    ORIGEM DO CONTAS A RECEBER
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaOrigemCR"
  [apiService]='apiOrigemCrService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodOrigemCR'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>
