<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do CRUDE de Tipo de Taxa do Seguro@@crude-tipo-taxa-seg-listagem.breadcrumb">
  Início/Tipo Taxa/Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Tipo de Taxa do Seguro@@crude-tipo-taxa-seg-listagem.titulo.tipo-taxa-seg">
    TIPO DE TAXA DO SEGURO
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaTipoTaxaSeg"
  [apiService]='apiTipoTaxaSegService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodTipoTaxaSeg'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>