<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do CRUDE de Portador@@crude-portador-listagem.breadcrumb">
  Início/Portador/Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Portador@@crude-portador-listagem.titulo.portador">
    PORTADOR
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaPortador"
  [apiService]='apiPortadorService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodPortador'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>