<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do CRUDE Tipo De Evento Do DFe@@crude-tipo-evento-dfe-listagem.breadcrumb">
  Início/Tipo Evento DFe/Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Tipo De Evento Do DFe@@crude-tipo-evento-dfe-listagem.titulo.tipo-evento-dfe">
    TIPO DE EVENTO DO DFe
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaTipoEventoDfe"
  [apiService]='apiTipoEventoDfeService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodTipoEventoDFe'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>