<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb de Grupo de Cliente Listagem@@crude-grupo-cliente-listagem.breadcrumb">
  Grupo de Cliente: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Grupo de Cliente@@crude-grupo-cliente-listagem.titulo.grupo-cliente">
    GRUPO DE CLIENTE
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaGrupoCliente"
  [apiService]='apiGrupoClienteService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='chCodGrupoCliente'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>