<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do Detalhe do CRUDE Raça/Cor da Pessoa@@crude-raca-cor-edicao.breadcrumb">
  Início/Raça e Cor/Edição
</span>

<app-cadastro-barra-acao 
  #cadastroBarraAcao
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <h1>
    <div
    i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Raça/Cor da Pessoa@@crude-raca-cor-detalhe.titulo.raca-cor">
    RAÇA E COR DA PESSOA
    </div>
  </h1>

  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-3">          
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Codigo|Identifica o codigo de Raça/Cor CRUDE@@crude-raca-cor-detalhe.label.codigo">
              Código
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['inCodRacaCor']">
            </app-form-control-alerta-erro-api>
          </span>
          <kendo-numerictextbox
            formControlName="inCodRacaCor" 
            [format]="'N0'"
            [min]="1" 
            [max]="999999999" 
            [autoCorrect]="false" 
            [spinners]="false"
            required>
          </kendo-numerictextbox>
        </label>
      </div>

      <div class="form-group col-md-5">          
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descricao|Identifica a descricao de Raça/Cor CRUDE@@crude-raca-cor-detalhe.label.descricao">
              Descrição
            </ng-container> 
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDescricao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDescricao" required maxlength="50" />
        </label>
      </div>
    </div>
  </form>
</app-cadastro-barra-acao>
