<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb de Tipo de Defeito Listagem@@crude-tipo-defeito-listagem.breadcrumb">
  Tipo Defeito: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Tipo de Defeito@@crude-tipo-defeito-listagem.titulo.tipo-defeito">
    TIPO DE DEFEITO
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaTipoDefeito"
  [apiService]='apiTipoDefeitoService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodTipoDefeito'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>