<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb de Categoria Listagem@@crude-categoria-listagem.breadcrumb">
  Categoria: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Categoria@@crude-categoria-listagem.titulo.categoria">
    CATEGORIA
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaCategoria"
  [apiService]='apiCategoriaService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='IDCategoria'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>