<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do Detalhe do CRUDE de Tipo de Usuário@@crude-tipo-usuario-edicao.breadcrumb">
  Início/Tipo Usuário/Edição
</span>

<app-cadastro-barra-acao 
  #cadastroBarraAcao
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <h1>
    <div
      i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Tipo de Usuário@@crude-tipo-usuario-detalhe.titulo.tipo-usuario">
      TIPO DE USUÁRIO
    </div>
  </h1>

  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-3">            
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Código|Identifica o Código do Tipo de Usuário no CRUDE@@crude-tipo-usuario-detalhe.label.codigo">
              Código
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['inCodTipoUsuario']">
            </app-form-control-alerta-erro-api>
          </span>
          <kendo-numerictextbox
            formControlName="inCodTipoUsuario"
            [format]="'N0'"
            [min]="1"
            [max]="999999999"
            [autoCorrect]="false"
            [spinners]="false"
            required>
          </kendo-numerictextbox>
        </label>
      </div>
    
      <div class="form-group col-md-5">            
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descrição|Identifica a Descrição do Tipo de usuário no CRUDE@@crude-tipo-usuario-detalhe.label.descricao">
              Descrição
            </ng-container>                      
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDesTipoUsuario']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDesTipoUsuario" required maxlength="20" />
        </label>
      </div>
    </div>
  </form>
</app-cadastro-barra-acao>