<span 
    #breadcrumb_traducao
    style='display:none;'
    i18n="breadcrumb|Breadcrumb do CRUDE Estado Civil@@crude-estado-civil-listagem.breadcrumb">
    Início/Estado Civil/Listagem
</span>

<h1 class='titulo_tela_listagem'>
    <div
    i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Estado Civil@@crude-estado-civil-listagem.titulo.estado-civil">
    ESTADO CIVIL DA PESSOA
    </div>
</h1>

<app-grid-pesquisa
    #gridFiltro
    idGrid="pesquisaEstadoCivil"
    [apiService]='apiEstadoCivilService'
    nomeMetodoOrdenacao='mudarOrdenacao'
    nomeMetodoApi='listar'
    apiFieldKey='inCodEstadoCivil'
    [colunasGrid]='getColunasGridCadastro()'
    pageSize='15'
    [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>