<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb da Situações do Pedido de Venda Listagem@@crude-situacao-ped-ven-listagem.breadcrumb">
  Situação: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Situações do Pedido de Venda@@crude-situacao-ped-ven-listagem.titulo.situacao-ped-ven">
    SITUAÇÃO DO PEDIDO DE VENDA
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaSituacaoPedVen"
  [apiService]='apiSituacaoPedVenService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodSituacaoPedVen'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>