<app-cadastro-barra-acao
  #cadastroBarraAcao
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label ID|Identifica o ID da seguradora CRUDE@@crude-seguradora-detalhe.label.IDSeguradora">
              ID
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['IDSeguradora']">
            </app-form-control-alerta-erro-api>
          </span>
          <kendo-numerictextbox
            formControlName="IDSeguradora"
            [format]="'N0'"
            [min]="1"
            [max]="999999999"
            [autoCorrect]="false"
            [spinners]="false">
          </kendo-numerictextbox>
        </label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-8">
        <label class="k-form-field">
          <span>
            <ng-container
              i18n="Label Pessoa|Identifica a  Pessoa da seguradora CRUDE@@crude-seguradora-detalhe.label.UIData_CodPessoa">
              Pessoa
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api [mensagemErro]="apiErrorCollection.campos['UIData_CodPessoa']">
            </app-form-control-alerta-erro-api>
          </span>
          <app-input-modal-pesquisa
            tipo='edicao'
            formControlName='UIData_CodPessoa'
            placeholder="selecione"
            modalTitulo='Pessoa Jurídica'
            modalHeight="630"
            modalWidth="1200"
            [apiService]='apiPessoaElService'
            nomeMetodoOrdenacao='mudarOrdenacao'
            apiNomeMetodoListar='listarJuridicas'
            apiFieldExibir="chNomeFantasia"
            [colunasGrid]="apiPessoaElService.getColunasJuridicaGrid()"
            apiFieldKey="IDPessoa"
            [pageSize]="'10'"
            pesquisaRapida="true"
            pesquisaRapidaTipo="number"
            pesquisaRapidaPlaceholder='ID Pessoa'
            pesquisaRapidaMaxlength='9'
            pesquisaRapidaApiNomeMetodo='obter'>
          </app-input-modal-pesquisa>
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Nome Abreviado|Identifica o Nome Abreviado da seguradora CRUDE@@crude-seguradora-detalhe.label.chNomeAbreviado">
              Nome Abreviado
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chNomeAbreviado']">
            </app-form-control-alerta-erro-api>
          </span>
          <input 
             kendoTextBox 
             formControlName="chNomeAbreviado" 
             required 
             maxlength="25" />
        </label>
      </div>
      <div class="form-group col-md-4">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Número Susep|Identifica o Número Susep da seguradora CRUDE@@crude-seguradora-detalhe.label.chNumSusep">
              Número Susep
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chNumSusep']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chNumSusep" required maxlength="20" />
        </label>
      </div>
    </div>
  </form>
</app-cadastro-barra-acao>