<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|breadcrumb de Grupo de Estoque Listagem@@crude-grp-est-listagem.breadcrumb">
  Grupo de Estoque: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE Grupo de Estoque@@crude-grp-est-listagem.titulo.grp-est">
    GRUPO DE ESTOQUE
  </div>
</h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaGrpEst"
  [apiService]='apiGrpEstService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='IDGrpEst'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>