<span 
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do Detalhe do CRUDE de Tipo de Logradouro@@crude-tipo-logradouro-edicao.breadcrumb">
  Início/Tipo Logradouro/Edição
</span>

<app-cadastro-barra-acao 
  #cadastroBarraAcao
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <h1>
    <div
      i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Tipo de Logradouro@@crude-tipo-logradouro-detalhe.titulo.tipo-logradouro">
      TIPO DE LOGRADOURO
    </div>
  </h1>

  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-3">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Codigo|Identifica o codigo do logradouro CRUDE@@crude-tipo-logradouro-detalhe.label.codigo">
              Código
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['inCodTipoLogradouro']">
            </app-form-control-alerta-erro-api>
          </span>
          <kendo-numerictextbox
            formControlName="inCodTipoLogradouro" 
            [format]="'N0'"
            [min]="1"
            [max]="999999999" 
            [autoCorrect]="false" 
            [spinners]="false"
            required>
          </kendo-numerictextbox>
        </label>
      </div>

      <div class="form-group col-md-3"></div>

      <div class="form-group col-md-6">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descricao|Identifica a descricao abreviado do tipo logradouro CRUDE@@crude-tipo-logradouro-detalhe.label.descricaoabreviado">
              Descrição Abreviada
            </ng-container> 
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDesAbreviado']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDesAbreviado" required maxlength="20" />
        </label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Descricao|Identifica a descricao do tipo logradouro CRUDE@@crude-tipo-logradouro-detalhe.label.descricao">
              Descrição
            </ng-container> 
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDescricao']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDescricao" required maxlength="40" />
        </label>
      </div>
    </div>
  </form>
</app-cadastro-barra-acao>