<app-cadastro-barra-acao
  #cadastroBarraAcao
  isNotVisible='true'
  [formGroup]='meuForm'
  (confirmar)='btnConfirmar()'
  (cancelar)='btnCancelar()'
  (excluir)='btnExcluir()'>

  <form action="" [formGroup]="meuForm" class="k-form">

    <div class="invalido" *ngIf='apiErrorCollection.mensagem_geral != null'>
      {{apiErrorCollection.mensagem_geral}}
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label ID|Identifica o codigo ID do telefone@@crude-pessoa-telefone-detalhe.label.IDPessoaTelefone">
              ID
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['IDPessoaTelefone']">
            </app-form-control-alerta-erro-api>
          </span>
          <kendo-numerictextbox
            formControlName="IDPessoaTelefone"
            [format]="'N0'"
            [min]="0"
            [max]="999999999"
            [autoCorrect]="'true'"
            [spinners]="false">
          </kendo-numerictextbox>
        </label>
      </div>
      <div class="form-group col-md-1"></div>
      <div class="form-group col-md-4">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Tipo de Telefone|Identifica o tipo de Telefone@@crude-pessoa-telefone-detalhe.label.inCodTipoPessoaTelefone">
              Tipo de Telefone
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['inCodTipoPessoaTelefone']">
            </app-form-control-alerta-erro-api>
          </span>
          <app-api-select
            placeholder='selecione'
            [apiService]='apiTipoPessoatelefoneService'
            apiNomeMetodoListar='listar'
            apiFieldExibir='chDescricao'
            apiFieldKey='inCodTipoPessoaTelefone'
            formControlName='inCodTipoPessoaTelefone'>
          </app-api-select>
        </label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-2">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label DDI|Identifica o ddi do telefone@@crude-pessoa-telefone-detalhe.label.chDDI">
              DDI
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDDI']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDDI" maxlength="2" required/>
        </label>
      </div>
      <div class="form-group col-md-2">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label DDD|Identifica o ddd do telefone@@crude-pessoa-telefone-detalhe.label.chDDD">
              DDD
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chDDD']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chDDD" maxlength="2" required/>
        </label>
      </div>
      <div class="form-group col-md-4">
        <label class="k-form-field">
          <span>
            <ng-container i18n="Label Número|Identifica o número do telefone@@crude-pessoa-telefone-detalhe.label.chNumero">
              Número
            </ng-container>
            <span class="k-required">*</span>
            <app-form-control-alerta-erro-api
              [mensagemErro]="apiErrorCollection.campos['chNumero']">
            </app-form-control-alerta-erro-api>
          </span>
          <input kendoTextBox formControlName="chNumero" maxlength="10" required/>
        </label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label class="k-form-field">
          <span i18n="Label Inclusão|Identifica a Data/Hora de Inclusão do telefone da Pessoa no CRUDE@@crude-pessoa-telefone-detalhe.label.dtDatInclusao">
            Inclusão
          </span>
          <span>
            {{modelPessoaTelefone.dtDatInclusao | date: 'short'}}
          </span>
        </label>
      </div>
      <div class="form-group col-md-3">
        <label class="k-form-field">
          <span i18n="Label Última Alteração|Identifica a Data/Hora da Última Alteração do telefone da no CRUDE@@crude-pessoa-telefone-detalhe.label.dtDatUltAlteracao">
            Última Alteração
          </span>
          <span>
            {{(modelPessoaTelefone.dtDatUltAlteracao == null? textoTraducaoSemAlteracao.innerText: modelPessoaTelefone.dtDatUltAlteracao | date: 'short' )}}
          </span>
        </label>
      </div>
    </div>

    <span #textoTraducaoSemAlteracao style="display:none;"
      i18n="Informativo do label Ultima Alteração|Texto informativo exibido quando o cadastro ainda não teve edição@@crude-pessoa-fisica.label.info.semAlteracao">Não
      houve alteração ainda
    </span>

  </form>
</app-cadastro-barra-acao>