<span
  #breadcrumb_traducao
  style='display:none;'
  i18n="breadcrumb|Breadcrumb do CRUDE de Banco@@crude-banco-listagem.breadcrumb">
  Banco: Listagem
</span>

<h1 class='titulo_tela_listagem'>
  <div i18n="Título do conteúdo da Tab|Título do conteúdo do CRUDE de Banco@@crude-banco-listagem.titulo.banco">
    INSTITUIÇÃO BANCÁRIA
  </div>
  </h1>

<app-grid-pesquisa
  #gridFiltro
  idGrid="pesquisaBanco"
  [apiService]='apiBancoService'
  nomeMetodoOrdenacao='mudarOrdenacao'
  nomeMetodoApi='listar'
  apiFieldKey='inCodBanco'
  [colunasGrid]='getColunasGridCadastro()'
  pageSize='15'
  [rotaCadastro]='gridRotasCadastro'>
</app-grid-pesquisa>
